# Web stuff
gunicorn
fastapi
uvicorn
pydantic
cachetools
asyncache
httpx
jinja2

# GCP Stuff always installed
google-cloud-logging

# We use sentry SDK on all our apps so we pre-install it
sentry-sdk[fastapi]
